
 .App {
  text-align: center;
} 
h4 {
  text-align: left;
  padding-left: 20px;
  color: blue;
} 
/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: lightyellow;
} */

/* .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
} */

/* Link {
  text-decoration: none;
} */ 
#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


form, input {
 padding: 5px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(122, 100, 100);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(143, 185, 224);
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* To do List */
/* .App {
  text-align: center;
} */
/* #inputtask {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 10px;
}
.table, td {
  border: 1px solid black;
  background-color: lightblue;
  margin-top: 5px;
}
th.A, th.C {
  width: 15%;
}

#inputtask {
  padding-top: 5px;
}

.line {
  text-decoration: line-through;
  color: green;
} */

/*Button group on tasklist (Item2) under the task list*/

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #8ac58c;
}