
 .App {
  text-align: center;
  justify-content: center;
  background-color:  #E0ECE4;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

} 
h3 {
  text-align: left;
  padding-left: 20px;
  color: black;
  font-weight: bold;
} 


form, input {
 padding: 5px;
}

.topnav {
  overflow: hidden;
  background-color:#797A7E;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:  #d8d3cd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/*input form for task*/
.w3-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px 24px;
  border: solid;
  display: block;
  background-color:  #F7F2E7;
}
.left {
 position: absolute;
 right:0;
 top:0;

}
/* #d2 {
  margin-left: 10px;
} */
.input {
  margin: 0 !important;
}



/*Button group on tasklist (Item2) under the task list*/

.btn-group button {
  background-color: #F7F2E7; /* Green background */
  border: 1px solid #797A7E; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-top: 15px;
 
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  /* background-color: #8ac58c; */
  background-color: #d8d3cd;
}
/* 
container {
  background-color: beige;
} */

/*nutton in task submit*/
.btn {
  position: absolute;
  right:0;
  top: 5px;
  margin-right: 3px;
}
.btn-success  {
  background-color: #F7F2E7;
  color: black;
}


/* 
.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  position: absolute;
  right:0;
}  */

.nuts {
  border: solid;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  justify-content: left;
 margin-top: 40px;
 background-color: #797A7E;
  
}