body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #F7F2E7;
  color: Black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #797A7E;
  padding: 20px;
  text-align: left;
}
#comment {
    height: 150px;
}

label {
    color: white;
}

/* background-color: #f2f2f2; */

